.home-container-bio{
    font-family: 'Saira';
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.photo-container-bio{
    text-align: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 79%);
    height: 30vh;
    width: 100%;
    background-color: red;
    border-left: 500px;
    border-right: 700px;
    overflow: hidden;
    align-items: center;
    & img{
        object-fit: cover;
        width:100%;
        height: auto;
        max-height: 300px;
    }
    & a{
        width: 60%;
        position: absolute;
        top: 20vh;
        left: 10vw;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: left;
        transition: 1s;
    }
    & span{
        color: #55AB88;
    }
}


.content-container-bio{
    width: 95%;
    max-width: 1280px;
    display: flex;
}

.menu-container{
    color: white;
    margin-top: 30px;
    padding: 15px;
    width: 20%;
    height: 300px;
    border-radius: 20px;
    background-color: #55AB88;
    & h3{
        padding: 15px 0 0 15px;
        margin:0;
        font-size: 1.7rem;
    }
    & li{
        padding: 5px;
    }
}

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    & h2{
        color: #262424;
        padding: 0;
        margin: 0;
        margin-left: 40px;
        font-size: 2.5rem;
    }

    & span{
        color: #55AB88;
    }
}

.content-section {
    display: flex;
    padding: 30px;
    width: 90%;
    color: #262424;
    font-size: 1.3rem;

    & span {
        color: #55AB88;
        font-weight: 600;
    }

    & a {
        padding: 10px;
    }
}

.photo-section{
    & a{
        padding: 10px;
        width: 50%;
    }

    & img{
        object-fit: cover;
        display: block;
        border-radius: 20px;
        padding: 10px;
        width: 50%;
    }
}

@media (max-width: 768px) {

    .menu-container{
        visibility: hidden;
        width: 0%;
        margin: 0;
        padding: 0;
    }
    .content-container-bio{
        justify-content: center;
        width: 100%;
        padding: 5px;
        margin: 0px;
    }

    .content-section{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .photo-section{
        & a{
            width: 100%;
        }
        & img{
            padding: 0;
            width: 100%;
            border-radius: 10px;
        }
    }
    .photo-container{
        & img{
            height: 90%;
            max-width: 768px;
        }
        & a{
            transition: 1s;
            top: 15vh;
            left: 7.5vw;
            font-size: 3rem;
            width: 90%;

        }
    }
}