.home-container{
    font-family: 'Saira';
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 2px 3px rgba(51, 49, 49, 0.6);
}

.photo-container-home{
    text-align: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 79%);
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    border-left: 500px;
    border-right: 700px;
    overflow: hidden;
    align-items: center;
    & img{
        transform: translateY(-200px);
        object-fit: cover;
        width:100%;
        height: auto;
        max-height: 1000px;
    }
    & a{
        font-size: 3rem;
        font-weight: 700;
        text-align: left;
        transition: 1s;
    }
    & h4{
        font-size: 1rem;
        top: 20vh;
        left: 10vw;
        text-align: left;
        font-weight: 510;
    }
    & span{
        color: #55AB88;
    }
}
.content-container-desc{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 60%;
}
@media (max-width: 768px) {
    .photo-container-home{
        & img{
            transform: translateY(-50px);
            height: 90%;
            max-width: 768px;
        }
        & a{
            transition: 1s;
            top: 15vh;
            left: 7.5vw;
            font-size: 2.3rem;
            width: 90%;

        }
    }
}