.progress-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img{
        height: 150px;
    }
    & h1{
        color: #116766;
    }
    & h3{
        color: #55AB88;
    }
}