.footer-container{
    width: 100vw;
    background-color: #348878;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer{
    height: 85%;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-section{
    width: 33%;
    height: 80%;
    margin: 50px;
    display: flex;
    & img{
        height: 70%;
    }
}

.footer-spacer{
    width: 1px;
    height: 70%;
    background-color: white;
}

.copyrights{
    width: 100%;
    text-align: center;
    height: 15%;
    background-color: #116766;
}

@media (max-width: 768px) {
    .footer-container {

    }
}