.header-container{
    width: 100vw;
    height: 90px;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 999;
    top: 0;
    font-family: 'Saira', serif;
}
.header{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-container{
    width: 10%;
}

.name-container{
    width: 40%;
}
.nav-container{
    width: 80%;
    height: 100%;
    & ul{
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
    }
}

.nav-item{
    font-weight: 450;
    font-size: 1.7em;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.9s;
    & img{
        height: 50px;
        margin-right: -50px;
    }
    :hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
}
.link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    background: green;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.link:hover:after{
    width: 100%;
    left: 0;
}
.link{
    color:black;
    text-decoration: none;
    transition: 0.2s;

}

@media only screen and (max-width: 600px) {
    .nav-container{
        visibility: hidden;
    }
}