.three-block-container{
    width: 95%;
    max-width: 1280px;
    height: 800px;
    z-index: 10;
    margin-top: -200px;
    display: flex;
    flex-direction: row;
}

.single-block{
    width: 33%;
    height: 70%;
    margin: 15px;
    border-radius: 30px;
    background-color: #55AB88;
}

.title{
    display: flex;
    flex-direction: row;
    & img{
        padding: 10px 30px 0 30px;
        width: 70px;
        height: 110px;
        filter: invert(100%);
    }
    & h2{

        color: white;
        font-size: 1.7rem;
    }
}

.content{
    & h3{
        font-weight: 450;
        margin: 20px ;
        text-shadow: none;
    }
    & span{
        color: #116766;
    }
}

@media (max-width: 768px){
    .three-block-container{
        flex-direction: column;
    }
    .single-block{
        width: 95%;
        height: auto;
    }
}