.three-block-container{
    width: 95%;
    max-width: 1480px;
    height: 600px;
    z-index: 10;
    margin-top: -200px;
    display: flex;
    flex-direction: row;
}

.single-block{
    width: 33%;
    height: auto;
    margin: 15px;
    border-radius: 30px;
    background-color: #55AB88;
}

.title{
    display: flex;
    flex-direction: row;
    & img{
        padding: 10px 30px 0 30px;
        width: 70px;
        height: 110px;
        filter: invert(100%);
    }
    & h2{

        color: white;
        font-size: 1.7rem;
    }
}

.content{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h3{
        font-weight: 450;
        margin: 20px ;
        text-shadow: none;
    }
    & span{
        margin:0;
        padding: 0;
        color: #116766;
        font-size: 1.6rem;
        text-wrap: wrap;
        width: 80%;
    }
}

@media (max-width: 900px){
    .three-block-container{
        height: auto;
        flex-direction: column;
    }
    .single-block{
        width: 95%;
        height: 500px;
    }
}