.three-block-container{
    width: 95%;
    max-width: 1280px;
    height: 800px;
    z-index: 1000;
    margin-top: -300px;
    display: flex;
    flex-direction: row;
}

.single-block{
    width: 33%;
    height: 90%;
    margin: 15px;
    border-radius: 30px;
    background-color: #55AB88;
}